@import url('https://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic,cyrillic-ext,vietnamese');

/* CSS Reset */
.footerAvac,
#info_div,
#speak_word_div,
#speak_word_button,
#example_word_div,
#example_word_ul,
#exampleWordLi,
#example_sentence_div,
#example_sentence_span,
#delimiter_div,
#close_div,
#side_div_button,
#full_footer {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    line-height: 1;
    font-family: 'Philosopher', sans-serif;
}

/*----------------------------*/

.footerAvac {
    -webkit-font-smoothing: antialiased;
    background-color: white;
    z-index: 1001;
    position: fixed;
    bottom: 0;
    height: 120px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

/*----------------------------*/

#info_div {
    left: 0;
    width: 15%;
    justify-content: center;
    display: flex;
}

/*----------------------------*/

#speak_word_div {
    left: 15%;
    width: 15%;
    justify-content: center;
    display: flex;
}

#speak_word_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    line-height: 1em;
    width: 6em;
    height: 4.2em;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 2.1em;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    padding: 0.25em 0.4em;
    outline: 0;
    overflow-wrap: break-word;
    box-shadow: lightgrey 1px 1px;
    background: #2196F3 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
}

#speak_word_button:hover {
    background: #2ECC71 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    -webkit-transition: all 0.2s ease-in-out;
    color: white;
    cursor: pointer;
    overflow-wrap: break-word;
}

/*----------------------------*/

#example_word_div {
    left: 30%;
    width: 15%;
    justify-content: center;
    display: flex;
}

#example_word_ul {
    font-size: 16px;
    color: slategrey;
    line-height: 1.5em;
}

.exampleWordLi {
    font-size: 14px;
    color: green;
    list-style-type: circle;
    line-height: 1.5em;
}

.exampleWordLi:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*----------------------------*/

#example_sentence_div {
    left: 45%;
    width: 55%;
    justify-content: center;
    display: flex;
}

#example_sentence_span {
    font-size: 14px;
    line-height: 1.5em;
    color: black;
}

#example_sentence_span:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*----------------------------*/
#close_div {
    transition: all 0.5s;
    bottom: 0;
    width: 100%;
    height: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    z-index: 1002;
    background: #2196F3 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    position: fixed;
    font-style: italic;
    font-size: 12px;
    color: white;
}

#close_span {
    display: inline-block;
    vertical-align: middle;
}

#close_div:hover {
    background: #2ECC71 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    cursor: pointer;
}

/*----------------------------*/

#delimiter_div {
    transition: all 0.7s;
    bottom: 120px;
    width: 100%;
    height: 16px;
    z-index: 1002;
    background-color: white;
    position: fixed;
}

/*----------------------------*/

#side_div_button {
    font-size: 20px;
    height: 2.5em;
    width: 5em;
    position: fixed;
    left: -4.25em;
    bottom: 4.25em;
    z-index: 1002;
    transition: 0.4s;
    text-decoration: none;
    outline: 0;
    color: white;
    border: none;
    border-radius: 0 0.5em 0.5em 0;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    background: #2196F3 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
}

#side_div_button:hover {
    left: 0;
    cursor: pointer;
    background: #2ECC71 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
}

