footer#footerAvac {
    position: fixed;
    font-size: 14px;
    left: 0;
    bottom: 0;
    height: 12%;
    width: 100%;
    background-color: white;
    border-top: solid black 1px;
    padding: 10px;
    z-index: 1000;
}

footer#footerContentAvac {
    color: black;
}

/*
#hideFooterBtnAvac {

}

#hideFooterBtnAvac:hover {
    background: #3e87ec;
}
*/

#translatedWordAvac,
#synonymsAvac,
#sentenceExampleAvac {
    display: inline-block;
    vertical-align: top;
}

#footerContentAvac {
    font-size: 12px;
    color: black;
}

#translatedWordAvac {
    width: 20%;
    margin-left: 8%;
    margin-right: 8%;
}

#synonymsAvac {
    width: 30%
}

#sentenceExampleAvac {
    width: 30%
}

#playWordAvac {
    width: 100px;
    height: 72px;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    font-weight: bold;
}

#playWordAvac:hover {
    background-color: #008CBA;
    color: white;
}