/*background-image: linear-gradient(120deg, #155799, #159957)*/
body, footer {
    margin: 0;
    padding: 0;
}

#footerAvac,
#closeFooterAvac {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    color: black;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    line-height: 1.5;
}

#footerAvac {
    height: 8em;
    border-top: solid gray 1px;
    padding: 0.75em;
}

#closeFooterAvac {
    height: 2.5em;
    padding-top: 0.75em;
    font-size: 0.75em;
    text-align: center;
    font-style: italic;
    border-top: solid white 1px;
}

#translatedWordAvac,
#synonymsAvac,
#sentenceExampleAvac {
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
}

/*block 1*/
#translatedWordAvac {
    width: 10%;
    margin-left: 20%;
    background-color: white;
}

/*block 2*/
#synonymsAvac {
    width: 15%;
    font-size: 1em;
    font-family: 'PT Sans', sans-serif;
    margin-left: 5%;
}

/*block 3*/
#sentenceExampleAvac {
    width: 40%;
    font-family: 'Marck Script', cursive;
    font-size: 1em;
}

#playWordBtnAvac {
    width: 8em;
    height: 5em;
    border-radius: 2.5em;
    background-color: white;
    border: 0.125em solid lightskyblue;
    overflow-wrap: break-word;
    outline: 0;
    color: black;
}

#playWordBtnAvac:hover {
    background-color: lightskyblue;
}
#playWordBtnAvac:hover > #playWordAvac {
    color: white;
}
#playWordAvac {
    font-weight: bold;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.125em;
}

#closeFooterAvac:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

#footerAvac {
    opacity: 1;
    transition: all 0.5s;
}

#footerAvac.hide {
    opacity: 0;
}
