/* ------------------------------------------------------------- */
#avacSourcePage {
    width: 79%;
    height: 100vh;
    float: left;
    top: 0px;
    left: 0px;
    bottom: 0px;
    display: inline;
    border: none;
}

#avacNavBar {
    width: 20%;

    position: relative;
    height: 100vh;
    float: right;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
