#option_div,
#lang_from_div,
#lang_to_div,
#lang_from_option,
#lang_to_option,
#level_div,
#level_range,
#doit_div,
#doit_button,
#onload_div,
#onload_checkbox {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    line-height: 1;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif

}

/*----------------------------*/

#option_div {
    transition: all 0.5s;
    bottom: 0;
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    align-items: center;
    display: flex;
    z-index: 1002;
    background: white;
    position: fixed;
    font-style: italic;
    font-size: 12px;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}

#lang_from_div,
#lang_to_div {
    justify-content: center;
    display: flex;
    width: 100px;
    height: 25px;
    align-items: center;
    text-decoration: none;
    z-index: 1002;

}

#lang_from_div {
    margin-left: 2%;
    width: 10%;
}

#lang_to_div {
    width: 10%;
}

#lang_from_option,
#lang_to_option {
    width: 100px;
    height: 25px;

    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    background: no-repeat 97% center;
    border: 1px solid #AAA;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
    margin: 5px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#level_div {
    width: 25%;
}

#level_range {
    width: 100%;
}

#doit_div {
    width: 8%;
    margin-left: 3%;
}

#doit_button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    outline: none;
    color: white;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    background: #2196F3 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
}

#doit_button:hover {
    background: #2ECC71 -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .2) 100%);
    -webkit-transition: all 0.2s ease-in-out;
    color: white;
    cursor: pointer;
    overflow-wrap: break-word;
}

#onload_div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}
#onload_checkbox {
    margin-right: 5px;
}