#avacPopup {
    width: 310px;
    height: 100px;
}

.avacWord {
    color: green;
}
/* -------------------------------------------------------------
   Lang dropbox
*/
select#langFrom, select#langTo {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background: no-repeat 97% center;
    border: 1px solid #AAA;
    color: #555;
    font-size: 18px;
    font-weight: bold;
    text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
    margin: 5px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 134px;
}

#rangeValue {
    opacity: 1;
    transition: all 0.2s;
    font-size: 14px;
}

#rangeValue.hide {
    opacity: 0;
}

/* -------------------------------------------------------------
   Translate button
*/
button#translate_btn {
    position: relative;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    background: transparent;
    border-radius: .25rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

button#translate_btn,
button#translate_btn:after,
button#translate_btn:before {
    padding: .6875rem 2rem;
    -webkit-transition: -webkit-transform 0.75s, background-color .125s;
    transform-style: preserve-3d;
}

button#translate_btn:after,
button#translate_btn:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: .25rem;
    backface-visibility: hidden;
}

button#translate_btn:before {
    z-index: 2;
    color: #fff;
    background-color: #3e87ec;
    content: attr(data-label);
}

button#translate_btn:after {
    z-index: 1;
    background: #999 url(../img/download.gif) no-repeat center center;
    -webkit-transform: rotateX(180deg);
    content: '';
}

button#translate_btn:active:before {
    background-color: #3571c8;
}

button#translate_btn.loading {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

/* -------------------------------------------------------------
   Input range
*/
input#avacLevel[type=range] {
    -webkit-appearance: none;
    margin: 12px 0 20px;
    width: 100%;
}

input#avacLevel[type=range]:focus {
    outline: none;
}

input#avacLevel[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3e87ec;
    border-radius: 1px;
    border: 0px solid #010101;
}

input#avacLevel[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input#avacLevel[type=range]:focus::-webkit-slider-runnable-track {
    background: #3e87ec;
}

/* ------------------------------------------------------------- */
#underRangeContainer {
    width: 300px;
    display: flex;
    margin: 8px;
}

#levelInfo {
    width: 60%;
    margin-right: auto;
}

#safeModeContainer {
    width: 40%;
    margin-left: auto;
    background-color: #3e87ec;
    padding: 5px;
    border-radius: 5px;
}

/* ------------------------------------------------------------- */
#safeTranslateMode {
    width: 16px;
    height: 16px;
}

#safeModeContainer > label {
    position: relative;
    top: -3px;
}