#bodyAvac {
    width: 260px;
    height: 200px;
}

#langFrom, #langTo {
    height: 24px;
    width: 118px;
    font-size: 13px;
}

#languages {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#level {
    width: 100%;
}

#stage {
    opacity: 1;
    transition: all 0.2s;
    font-size: 14px;
}

#stage.hide {
    opacity: 0;
}

/* Color picker */
#colorPicker {
    margin-top: 1em;
    font-size: 0.875em;
    text-align: center;
    display: inline-table;
    width: 100%;
    background: #fff;
    padding: 2px;
    border-radius: 0.35em;
    -webkit-box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.15);
}

#colorPicker label {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
    padding: 0.5em 1em;
    text-transform: capitalize;
    letter-spacing: -0.5em;
    color: transparent;
    opacity: 0.35;
    width: 1%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
}

#colorPicker label.red {
    background-color: #ff3e05;
    -webkit-tap-highlight-color: #ff3e05;
}

#colorPicker label.orange {
    background-color: #ff8d05;
    -webkit-tap-highlight-color: #ff8d05;
}

#colorPicker label.yellow {
    background-color: #ecca05;
    -webkit-tap-highlight-color: #ecca05;
}

#colorPicker label.green {
    background-color: #40af04;
    -webkit-tap-highlight-color: #40af04;
}

#colorPicker label.blue {
    background-color: #057fff;
    -webkit-tap-highlight-color: #057fff;
}

#colorPicker label.indigo {
    background-color: #7500ca;
    -webkit-tap-highlight-color: #7500ca;
}

#colorPicker label.violet {
    background-color: #cc6fcc;
    -webkit-tap-highlight-color: #cc6fcc;
}

#colorPicker label:first-of-type {
    border-radius: 0.25em 0 0 0.25em;
}

#colorPicker label:last-of-type {
    border-radius: 0 0.25em 0.25em 0;
}

#colorPicker label:hover {
    opacity: 1;
    color: #fff;
    letter-spacing: normal;
}

#colorPicker input {
    display: none;
}

#colorPicker input:checked + label {
    width: 200%;
    opacity: 1;
    color: #fff;
    letter-spacing: normal;
}

/* Power checkbox */
.tcon-checkbox {
    height: 1.5em;
    position: relative;
    width: 6em;
}
.tcon-checkbox input[type=checkbox] {
    opacity: 0;
}
.tcon-checkbox input[type=checkbox]:focus ~ label {
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), 1px 1px 1px rgba(255, 255, 255, 0.6);
    background: lightgrey;
}
.tcon-checkbox input[type=checkbox]:checked ~ label {
    background:  #40af04;
}
.tcon-checkbox input[type=checkbox]:checked ~ label:after {
    left: 4.5em;
}
.tcon-checkbox label {
    border-radius: 4.5em;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.27), 1px 1px 1px rgba(255, 255, 255, 0.71);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.27), 1px 1px 1px rgba(255, 255, 255, 0.71);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out;
    text-indent: -9999em;
    background: #E8DFE7;
}
.tcon-checkbox label:hover {
    cursor: pointer;
}
.tcon-checkbox label:after {
    border-radius: 4.5em;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.42);
    content: "";
    cursor: pointer;
    display: block;
    height: 1.125em;
    position: absolute;
    top: 0.1875em;
    left: 0.375em;
    width: 1.125em;
    -webkit-transition: left 150ms ease-in-out;
    transition: left 150ms ease-in-out;
    z-index: 1;
    background: #FFFFFD;
}
